body {
    background-color: #DAD6C9;
    margin: 0;
}
#app {
    display: flex; 
    flex-flow: column;
    height: 100vh;
}
.key-box {
    background-image: linear-gradient(
        to bottom,
        #DDD 0%,
        #EEE 10%,
        #EEE 50%,
        #DDD 100%
    );
    display: block;
    padding: 0.25em;
    margin: 4px;
    border: 2px solid #BBB;
    border-radius: 1.125em;
    /* outline: 2px solid #0004; */
}
.key-image {
    filter: 
        drop-shadow(0.25px 0.25px 0 #000C) 
        drop-shadow(-0.25px -0.25px 0 #000C)
    ;
}
.iconette {
    margin: 2px 0;
}
.dragon-id {
    font-family: monospace;
    text-align: right;
    line-height: normal;
}

/* ======================== */
/*      Keyblade List       */
/* ======================== */

#keyblade-list {
    flex: 0 0 auto;
    background-color: #6b2412;
    overflow-x: scroll;
    transform: scaleY(-1);
    line-height: 0;
    white-space: nowrap;
    padding-top: 0.2em;
}
.keyblade-preview {
    display: contents;
    font: inherit;
    text-align: inherit;
    color: #000;
}
.keyblade-preview .main-contents {
    text-align: right;
}
.keyblade-preview .key-box {
    position: relative;
    transform: scaleY(-1);
    margin: 0;
    display: inline-block;
    width: 75px;
    border: 0 solid #000;
    border-radius: 0.75em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.keyblade-preview .key-image {
    height: 35px;
    width: 70px;
    object-fit: contain;
    position: relative;
    top: 15px;
    filter: 
        drop-shadow(0 0.1em 0.25em #0002)
    ;
    transform: rotate(-10deg);
}
.key-info {
    display: inline-block;
    text-align: center;
    object-fit: contain;
    width: 75px;
    height: 55px;
    border-radius: 0;
    border-top-right-radius: 0.85em;
    border-top-left-radius: 0.85em;
    position: relative;
}
.dragon-info {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0;
    object-fit: fill;
    width: 75px;
    background-color: #FFFC;
    border-radius: 0.5em;
}
.dragon-info * {
    padding: 0px;
}
.derg-portrait img {
    width: 75px;
    height: 40px;
    object-fit: cover;
}
.keyblade-preview .dragon-id {
    margin: 0 4px;
}
.keyblade-preview .name-container {
    font-size: 0.5em;
    border-radius: 1.125em;
    position: absolute;
    z-index: 2;
    width: 9.1em;
    left: 0.625em;
    top: 0.625em;
}
.keyblade-preview .name {
    display: inline-block;
    vertical-align: text-bottom;
    padding: 0.25em;
    padding-left: 2.2em;
    font-size: 1em;
    font-style: italic;
    line-height: normal;
    transform: scaleX(75%);
}
.keyblade-preview .game-image {
    position: absolute;
    top: -0.1em;
    left: 0.1em;
    width: 1.2em;
}
.keyblade-preview .active {
    border-color: #FFF;
    box-shadow: 
        0 0 0.25em #FEA,
        inset 1px 1px 0 #FFF,
        inset -1px -1px 0 #FFF,
        inset 1px -1px 0 #FFF,
        inset -1px 1px 0 #FFF,
        inset 0 0 1em #FEA8;
    background-image: none;
    background-color: #FEFEFE;
}

.container {
    flex: 1 1 auto;
    overflow-y: scroll;
}

/* ======================== */
/*      Keyblade List 2     */
/* ======================== */

#key-list {
    height: 100%;
    width: 200px;
    float: left;
}


/* ======================== */
/*        Navigation        */
/* ======================== */

.navi-container {
    flex: 0 0 auto;
    padding: 8px;
    display: flex;
    justify-content: center;
    background-color: #6b2412;
    box-shadow: 0 1px 2px #0004;
}
.navi-container a {
    display: inline-block;
    padding: 0.25em 0.75em;
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(
        to bottom,
        #DDD 0%,
        #EEE 30%,
        #DDD 70%,
        #CCC 100%
    );
    border: 0.5px solid #BBB;
    border-top: 2px solid #BBB;
    border-bottom: 2px solid #BBB;
    /* outline: 1px solid #0004;
    outline-offset: -1px; */
}
.navi-container .router-link-active {
    background-image: linear-gradient(
        to bottom,
        #EEE 0%,
        #FFF 10%,
        #FFF 50%,
        #EEE 100%
    );
}
.navi-container a:first-child {
    border-left: 2px solid #BBB;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}
.navi-container a:last-child {
    border-right: 2px solid #BBB;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

/* ======================== */
/*      Dragon Showcase     */
/* ======================== */

#dragon-showcase {
    position: relative;
    margin: 4px auto;
    width: min-content;
}
#dragon-showcase .key-box {
    /* TEST SCENE
    background-image: 
        linear-gradient(
            to bottom, 
            rgba(255,255,255,0.9) 0%,
            rgba(255,255,255,0.5) 25%,
            rgba(255,255,255,0.5) 70%,
            rgba(255,255,255,1) 100%), 
        url(https://www1.flightrising.com/static/cms/scene/34843.png);
    height: 513px;
    width: 1015px; */
    background-image: url("https://www1.flightrising.com/static/layout/profile/backgrounds/1.jpg");
    height: 513px;
    width: 1015px;
    background-repeat: round;
}
#dragon-showcase img {
    display: inline;
    position: relative;
    left: 320px;
    top: 100px;
}
#dragon-showcase .key-image {
    display: inline;
    position: relative;
    width: 350px;
    height: 210px;
    object-fit: contain;
    left: 225px;
    top: 25px;
    transform: rotate(-90deg);
}

/* ======================== */
/*        Dragon Bio        */
/* ======================== */

#bio-box {
    position: relative;
    background-image: linear-gradient(to bottom, #FFF 0%,#EEE 100%);
    width: 640px;
    max-width: 640px;
    min-height: 220px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    margin: 4px auto;
    font-size: 0.8rem;
    font-family: sans-serif;
    text-align: center;
}
#bio-box .horizontal-box {
    display: inline-block;
    margin: 1em 0;
    text-align: left;
}
/* The '>' indicates direct children only, not all descendents */
#bio-box .horizontal-box > * {
    padding: 0 1em;
    vertical-align: middle;
}
#bio-box .horizontal-box *:first-child {
    padding-left: 0;
}
#bio-box .horizontal-box *:last-child {
    padding-right: 0;
}
#bio-box .vertical-box {
    display: inline-block;
    padding-left: 1em;
    vertical-align: top;
    width: min-content;
}
#bio-box .vertical-box * {
    padding: 0 0;
}
#bio-box .key-name {
    font-size: 2em;
    font-weight: bold;
    padding: 0 0.5em;
    text-align: center;
    max-width: 220px;
    display: inline-block;
    white-space: pre-wrap;
}
#bio-box .key-name.short{
    padding-top: 0.7em;
}
#bio-box .bio-text {
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.065em;
    line-height: 1.2;
    width: 100%;
    height: 300px;
}
.bio-text textarea {
    border: none;
    background-color: #FFF0;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 100%;
    width: 100%;
}
#bio-box .derg-art {
    display: inline-block; 
    width: 384px;
    height: 384px;
}

/* ======================== */
/*      Dragon Visuals      */
/* ======================== */

#dragon-visuals {
    position: relative;
    margin: 4px auto;
    width: min-content;
    vertical-align: top;
    width: 900px;
}
#dragon-visuals .key-box {
    flex: 350px;
}
#dragon-visuals .key-image {
    width: 350px;
    height: 200px;
    object-fit: contain;
    /* vertical-align: middle;
    transform: translate(-50%, -50%); */
    position: absolute;
    top: 80px;
    left: -70px;
    transform: rotate(-90deg);
}
#dragon-visuals * {
    text-align: right;
}

/* ======================== */
/*      Species Details     */
/* ======================== */

#species-details {
    position: relative;
    margin: 4px auto;
    width: min-content;
}
#species-details .key-box {
    padding: 20px;
    /* height: 400px;
    overflow-y: scroll; */
}
#dragon-genes .key-box {
    display: inline-block;
}
#dragon-genes .portrait {
    border-radius: 0.75em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #FFF;
}
#dragon-genes .stat-list {
    display: block;
    background: linear-gradient(
        to bottom,
        #0000 0%,
        #FFFB 50%,
        #FFF 100%
    );
    padding-left: 4px;
    border-radius: 0.75em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.gene-row {
    height: 1.5em;
    display: block;
    max-width: 181px;
    position: relative;
    padding-left: 4px;
}
.gene-color {
    width: 1em;
    height: 1em; 
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid #0004;
}
.gene-info {
    position: absolute;
    left: 26px;
    top: 1px;
}


